body {
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/*.................
HEADER
.................*/


.header h1 {
  font-family: "PlayfairDisplay-Bold"
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  margin-top: 60px;
}
.nav ul {
  margin-top: 40px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav li {
  margin-right: 20px;
}
.nav a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #000000;  
  cursor: pointer;  
  text-transform: uppercase;
}
.hotel {
  background-image: url('../img/Hotel.jpg');
  height: 464px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.vector {
  background-color: #FF7931;
  position: absolute;
  width: 55px;
  height: 55px;
  left: 670px;
  top: 260px;
  border-radius: 50%;
}
.vector img {
  padding: 15px 15px;
}
.title h1 {
  font-family: Roboto;
  font-style: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 150px;
}
.title p {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 120px;
}